/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
    padding-top: 70px;
    position: relative;
}

footer {
    padding: 30px 0;
}

h2 {
    font-size: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item {
    height: 500px;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all .25s ease-out;
        -o-transition: all .25s ease-out;
        transition: all .25s ease-out;
    }

    .row-offcanvas-right {
        right: 0;
    }

    .row-offcanvas-left {
        left: 0;
    }

    .row-offcanvas-right
    .sidebar-offcanvas {
        right: -50%; /* 6 columns */
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -50%; /* 6 columns */
    }

    .row-offcanvas-right.active {
        right: 50%; /* 6 columns */
    }

    .row-offcanvas-left.active {
        left: 50%; /* 6 columns */
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 50%; /* 6 columns */
    }
}

.preview-img {
    width: 250px;
    height: 250px;
}

.preview-img img {
    border: 1px solid black;
}

.btn {
    float: right;
}

.btn:after {
    clear: both;
}

.setHide {
    display: none;
}

.setActive {
    display: block;
    z-index: 100;
}

.username-output {
    float: right;
    text-align: right;
    margin-right: 50px;
}

/*product-detail.html*/

.position-right:after {
    clear: both;
}

.product-title {
    font-size: 25px;
    text-align: center;
    margin: 20px 0 10px 0;
}

.product-img {
    margin: 25px 0 0 0;
    width: 100%;
    text-align: center;
}

.product-img > img {
    border: 1px solid grey;
}

.product-text {
    margin-top: 40px;
    border-radius: 5px;
}

.text-block {
    border: 1px solid grey;
    padding: 5px;
    border-radius: 5px;
}

.reviewsList {
    margin-bottom: 5px;
    border: 1px solid gray;
    border-radius: 5px;
}

.reviewsList-wrapper {
    margin: 3px 0 0 10px;
}

.reviewsList-user {
    font-size: 1.23077em;
    line-height: 1.25em;
    font-weight: bold;
}

.reviewsList-time {
    text-align: right;
    margin: 5px 10px 0 0;
}

.reviewsList-text {
    margin-left: 35px;
}

.reviewsList-rate {
    vertical-align: middle;
}

.reviewsList-star {
    background-image: url(../img/star.png);
    background-position: 0 0;
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: bottom;
}

/*Review form*/
.myReview-form {
    border: 1px solid grey;
    padding: 5px;
    border-radius: 5px;
    position: relative;
}

.select-style {
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    width: 160px;
    border-radius: 3px;
    overflow: hidden;
    background: #fff url("http://www.scottgood.com/jsg/blog.nsf/images/arrowdown.gif") no-repeat 90% 50%;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select-style select:focus {
    outline: none;
}

.textarea-review {
    margin: 10px 10px 0 0;
}